/* Universal */
body {
    font-family: Arial, Helvetica, sans-serif
}

h1, h2 {
    text-align: center;
    margin-top: 25px;
    font-family: 'Waiting for the Sunrise', cursive;
}

h1 {
    font-size: 50px;
}

h2 {
    font-size: 40px;
}

.header {
    display: flex;
}

.header img {
    margin: auto;
    width: 150px;

}

.footer {
    display:flex;
}

.footer img {
    width: 100%;
}

/* Registration & Login Page */
.regBox {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 30px;
}

.regBorder {
    border-style: dotted;
    display: flex;
    flex-direction: column;
    width: 300px;
}

.regMsg {
    border: 10px;
    padding: 10px;
    text-align: center;
}

.regItem {
    margin-top: 10px;
    margin-bottom: 10px;
    display: flex;
    justify-content: center;
}

.textBox {
    width: 90%;
}

.regButton {
    display: flex;
    justify-content: flex-end;
    padding: 15px;
}

.submitButton {
    background-color: slategray;
    color: white;
}

.register {
    text-align: center;
}

.loginMessage {
    text-align: center;
    margin-top: 10px;
}

/* Trips Page */

.logout {
    float: right;
    margin: 10px;
}

.tripsContainer {
    display: flex;
    flex-direction: column;
    padding: 20px;

}

.addTripContainer {
    background-color: lightgray;
    display: flex;
    flex-direction: column;
    width: 80%;
    margin: auto;
    border-radius: 15px;
}

.addTrip {
    margin: auto;
    margin-bottom: 25px;
}

.tlContainer{
    display: flex;

}

.tripListing {
    background-color: lightgray;
    display: flex;
    flex-direction: column;
    width: 300px;
    margin: 10px;
    padding: 10px;

}

.tripImage {
    margin-top: 10px;
    display: flex;
    justify-content: center;
}

.tripImage img {
    width: 90%;
}

.tripDetails {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.tripDetails label {
    margin: 3px;
}

.tripDetail button {
    margin: 5px;
}

/* Logged Out Page */

.bonVoyage {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 25px;
}

.bonVoyage h1 {
    margin-top: 0px;
}