<html>

    <head>

    </head>

    <body>

    <form method="POST" action="/blog/create-post">
        <input type="text" placeholder="title" name="title" />
        <input type="textarea" placeholder="write your post here" name="blog_post" />
        <button>Submit</button>    

    </form>


    <div>
        {{#allBlogs}}
            <form method="POST">
                {{title}}
                {{body}}
                <input type='hidden' value={{post_id}} name='post_id' />
                <button formaction="/blog/{{post_id}}">Get Blog Details</button>
                <button formaction="/blog/delete-post">Delete Blog Post</button>
                <input type="textarea" placeholder="Write a comment" name="comment_body"/>
                <button formaction="/blog/submit-comment">Submit Comment</button>

            </form>
        {{/allBlogs}}

    </div>

    </body>

</html>