<html>

    <head>

    </head>

    <body>

    <h1>Log In to Your Account</h1>

    <form method="POST" action="/verify-account">

        <input type="text" placeholder="username" name="username" />
        <input type="text" placeholder="password" name="password" />
        <button>Submit</button>

    </form>

    {{message}}

    </body>

</html>