<html>

    <head>

    </head>

    <body>

    <h1> Register for an Account</h1>

    <form method="POST" action="/create-account">

        <input type="text" placeholder="username" name="username" />
        <input type="text" placeholder="password" name="password" />
        <button>Submit</button>

        {{message}}

    </form>

    </body>

</html>