<html>
    <head>    
    <title>Movie Tracker</title>
    <link rel="stylesheet" href="/css/styles.css" />
    </head>
    <body>

    <div class="detailContainer">
        <h1>Movie Details</h1>

   
            {{#movieDetails}}
            <div class="detailItem">
                <img src="{{poster}}" />
                <div><b> {{title}} </b></div>
                <div><b> Genre:</b>{{genre}}</div>
                <div><b>Description:</b> {{description}}</div>
                
            </div>
            {{/movieDetails}}
    
    </div>
    </body>
</html>