<html>
    <head>    
    <title>Movie Tracker</title>
    </head>
    <body>

    <h1>Movie by Genre</h1>

    <ul>
        {{#movieGenres}}
            <label> Title: {{title}} </label>
            <label>Description: {{description}} </label>
            <label> Genre:{{genre}} </label>
            <img src="{{poster}}" />

        {{/movieGenres}}
    </ul>
    
    </body>
</html>