<html>
    <head>    
    <title>Movie Tracker</title>
    </head>
    <body>

    <h1>Movie Tracker</h1>

    <h3>search by genre</h3>
    <form method="GET" action="/movies/:genre">
        <input type="text" placeholder="genre" name="genre" />
        <button>Submit</button>
    </form>

    <h2>Add a Movie</h2>

    <form method="POST" action="/movies/create">
        <input type="text" placeholder="movie title" name="title" />
        <input type="text" placeholder="movie description" name="description" />
        <input type="text" placeholder="genre" name="genre" />
        <input type="text" placeholder="poster" name="poster" />
        <button>Submit</button>
    </form>

    
    <h2>View All Movies</h2>

    <ul>
    {{#allMovies}}
        
            <li>
            <form method="POST">
                <b>Title: {{title}}</b>
                <img src="{{poster}}"/>
                <input type="hidden" value="{{movieId}}" name="movieId" />
                <button formaction="/movies/{{movieId}}">Details</button>
                <button formaction="/movies/delete">Delete</button>
                </form>
            </li>
        </form>
    {{/allMovies}}
    </ul>

    
    </body>
</html>