<html>
    <head>    
        <title>Trip Tracker | Signed Out</title>
        <link href="https://fonts.googleapis.com/css2?family=Waiting+for+the+Sunrise&display=swap" rel="stylesheet">
        <link rel="stylesheet" href="/css/styles.css" />
    </head>
    <body>
      {{> header}}
    <div class="bonVoyage">
      <img src="/images/bon-voyage.png" alt="ship sailing away" />
      <h1> Bon Voyage!</h1>
    </div>
    
      
    </body>
</html>