<html>
    <head>    
        <title>Trip Tracker Login</title>
        <link href="https://fonts.googleapis.com/css2?family=Waiting+for+the+Sunrise&display=swap" rel="stylesheet">
        <link rel="stylesheet" href="/css/styles.css" />
    </head>
    <body>

    {{> header}}

    <h1> Ready to Getaway? </h1>

    <div class="regBox">
        <form method="POST" action="/login" class="regBorder">
        <div class="regMsg"> 
            <b>Log in below:</b>
        </div>
        <div class="regItem">
            <input type="text" placeholder="username" name="username" class="textBox"/>
        </div>
        <div class="regItem">
            <input type="password" placeholder="password" name="password" class="textBox"/>
        </div>
        <div class="regButton">
            <button class="submitButton">Submit</button>
        </div>
        </form>

    </div>

    <div class="register">
    <a href="/registration">Register for an account</a>
    </div>

    <div class="loginMessage">{{message}}<div>
    
    {{ > footer}}
    </body>
</html>