<html>
    <head>    
        <title>Trip Tracker Login</title>
        <link rel="stylesheet" href="/css/styles.css" />
    </head>
    <body>

    <h1> Login Page </h1>

    <form method="POST" action="/login">
    <input type="text" placeholder="username" name="username" />
    <input type="password" placeholder="password" name="password" />
    <button>Submit</button>
    </form>

    <a href="/registration">Register an Account</a>

    {{message}}

    
    
    </body>
</html>