<html>
    <head>    
        <title>Trip Tracker | Registration</title>
        <link href="https://fonts.googleapis.com/css2?family=Waiting+for+the+Sunrise&display=swap" rel="stylesheet">
        <link rel="stylesheet" href="/css/styles.css" />
    </head>
    <body>

    {{> header}}

    <h1>Welcome to Trip Tracker</h1>

    <div class="regBox">
        <form method="POST" action="/register" class="regBorder">
            <div class="regMsg">
            <b>Register for your Trip Tracker account:</b>
            </div>
            <div class="regItem">
                <input type="text" placeholder="Username" name="username" class="textBox"/>
            </div>
            <div class="regItem">
                <input type="password" placeholder="Password" name="password" class="textBox"/>
            </div>
            <div class="regButton">
                <button class="submitButton">Submit</button>
            </div>
        
        </form>

        <div> {{message}} </div>

        
    </div>
    
    {{ > footer}}
    </body>
</html>