<html>
    <head>    
        <title>Trip Tracker | Your Trips</title>
        <link rel="stylesheet" href="/css/styles.css" />
    </head>
    <body>

    <div>
        <form method="POST" action="/trips/logout" class="logout">
            <button>Log Out</button>
        </form>
    </div>
    <h1>Trip Tracker</h1>

    <h2>Create a Trip</h2>
    <div class="addTrip">
        <form method="POST" action="/trips/create-trip">
            <input type="text" placeholder = "Trip Title" name="title" class="tripTB"/>
            <input type="text" placeholder = "Image URL" name="imageURL" class="tripTB"/>
            <input type="text" placeholder = "Departure Date" name="departureDate" class="tripTB"/>
            <input type="text" placeholder = "Return Date" name="returnDate" class="tripTB"/>
            <button>Save</button>
        </form>
    </div>

    <h2>Your Trips<h2>
        <ul>
            {{#allTrips}}

                <li> 
                    <form method="POST" action="/trips/delete-trip">
                        <b> Trip to {{title}}</b>
                        <label>Departure Date: {{departureDate}}</label>
                        <label>Return Date: {{returnDate}}</label>
                        <img src="{{imageURL}}"/>
                        <button>Delete</button>
                        <input type="hidden" value="{{tripID}}" name="tripID"/>
                    </form>
                </li>

            {{/allTrips}}

        </ul>
    
    </body>
</html>